/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}

p,
button,
input,
li,
label {
  font-size: 2rem;
}

h2,
h1 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}
h4,
h4 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  transition: background 0.5 ease;
}
button:hover {
  background: #2e4b77;
}
/* End Global Css */

/* Navbar css */
.main-head {
  background-color: #131c27;
  color: white;
}

nav {
  display: flex;
  width: 90vw;
  min-height: 10vh;
  padding: 2rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}
#logo {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  flex: 2 1 40rem;
}

/* End Navbar css */
.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
}

.hero h3 {
  padding: 4rem;
}

/* locations */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(/img/new-york-page.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0;
  text-decoration: underline;
}
.locations-head h3 {
  background: linear-gradient(#131c27, #663b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
}
.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
  z-index: -1;
  top: 15%;
  opacity: 0.5;
}
/* End of locations */
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Benefits */

.benefits-head {
  background: #343c44;
  color: white;
  text-align: center;
  min-height: 20vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.benefits-head h3 {
  padding: 3rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  min-height: 40vh;
  flex: 1 1 25rem;
  margin: 2rem 5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1);
}
.card-icon {
  background: #343c44;
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}
.card h3,
.card p {
  padding: 1rem;
}

/* End of Benefits */
/* Media */

@media screen and (max-width: 931px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
    top: 15%;
  }
  .locations-head h3 {
    background: rgba(19, 28, 38, 0.5);
    padding: 1rem;
    -webkit-text-fill-color: white;
  }
}
